* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

figure > img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.col-6 {
  flex-basis: calc((100% / 12) * 6);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

.col-12 {
  width: 100%;
}

/* PALETTE COLORS */

:root {
  --dark: #000000;
  --lightdark: #141922;
  --gray: #282828;
  --lightgray: #a3a3a3;
  --light: #d2d2d2;
}

.bg-lightgray {
  background-color: var(--lightgray);
}

.bg-dark {
  background-color: var(--dark);
}

.text-gray {
  color: var(--lightgray);
}

.text-white {
  color: white;
}

.justify-between {
  justify-content: space-between;
}

.display-none {
  display: none;
}

.align-center {
  align-items: center;
}

.sidebar li > span {
  display: none;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app_container {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: 50px;
}

.main_container {
  flex-grow: 1;
}

/* TOOLBAR */

.toolbar {
  flex-shrink: 0;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--gray);
  align-items: center;
}

.toolbar_song img {
  max-width: 36px;
  min-height: 28px;
}

.toolbar_list {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--lightgray);
  justify-content: space-between;
  padding: 20px;
}

.toolbar_list strong {
  color: white;
}

.toolbar_player {
  width: 50%;
  padding: 20px 0;
}

.player_icons {
  color: white;
  display: flex;
  justify-content: center;
}

.player_icons > ul {
  display: flex;
  gap: 25px;
  font-size: 25px;
}

.player_timeline {
  display: flex;
  padding-top: 20px;
  align-items: center;
}

.player_timeline > line {
  min-width: 150px;
}

.line {
  flex-grow: 1;
  position: relative;
}

.line > div {
  height: 3px;
  border-radius: 3px;
}

.line--white {
  background-color: white;
  width: 25%;
  position: absolute;
  top: 0;
}

.line {
  width: 15px;
  font-size: 10px;
  color: white;
  margin: 0 4px;
  align-items: center;
  position: relative;
}

.toolbar_audio {
  color: white;
  display: flex;
  gap: 10px;
  padding-right: 10px;
}

.toolbar_audio .line {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

.timeline_time {
  color: white;
}

.ball {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -5px;
  left: 25%;
  display: none;
}

.line:hover .ball {
  display: inline-block;
}

/* MAIN CONTENT */

.main_overflow {
  overflow: auto;
  height: 100%;
  padding-top: 88px;
}

.main_content {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

/* HEADER */

.header {
  display: flex;
  background-color: #090b12;
  justify-content: end;
  padding: 35px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.button {
  color: white;
  border: 1px white solid;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 10px;
}

/* NAV */

.nav {
  background-color: var(--lightdark);
}

.nav_content > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    column-gap: 25px;
    padding: 20px 0;
}

.nav_content ul > li {
  font-size: 15px;
}

/* MAIN CONTAINER */

.main_container {
  background-color: var(--lightdark);
  padding: 20px;
}

.main_title {
  padding-bottom: 20px;
}

.main_text {
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
}

.card {
  padding: 5px;
}

.list-item {
  position: relative;
}

.list-item_link.active::after {
  content: "";
  height: 3px;
  width: 50px;
  background-color: greenyellow;
  display: inline-block;
  position: absolute;
  bottom: -7px;
  left: 22px;
}

/* ASIDE */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  display: none;
}

.logo--small {
  width: 30px;
}

.aside_icons {
  width: 30px;
  padding-bottom: 10px;
}

.download::after {
  width: 340px;
  background-color: var(--lightgray);
  height: 1px;
  margin-top: 10px;
}

.download_img {
  width: 15px;
}

.profile {
  background-color: var(--lightgray);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

/* RESPONSIVE */

@media (min-width: 576px) {
  .sidebar {
    width: 230px;
    align-items: flex-start;
    padding-left: 20px;
  }

  aside li {
    display: flex;
  }

  .sidebar li > span {
    display: inline-block;
    padding-left: 5px;
  }

  .logo--small {
    display: none;
  }

  .logo {
    display: block;
  }

  .logo.aside_icons {
    width: 140px;
  }

  .playlist {
    display: block;
  }

  .playlist ul > div {
    padding: 30px 0;
  }

  .playlist_item {
    padding-bottom: 20px;
  }

  .plus-icon {
    font-size: 50px;
    margin-right: 10px;
  }

  .download_text {
    display: inline-block;
  }

  .profile_name {
    display: inline-block;
  }

  .song_name {
    display: flex;
    gap: 5px;
  }
}

@media (min-width: 768px) {
  .song_icon {
    display: flex;
    gap: 5px;
    margin-left: 30px;
  }

  .col-3 {
    flex-basis: calc((100% / 12) * 3);
  }
  
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {

.col-2 {
  flex-basis: calc((100% / 12) * 2);
}


}

/* DEBUG */

/* .debug .app {
  border: 1px green solid;
  padding: 20px;
} */

/* .debug .app_container {
    border: 1px blue solid;
    padding: 20px;
} */

/* .debug .main_container {
  border: 1px pink solid;
  
} */

/* .debug .sidebar {
  border: 1px gold solid;
  padding: 20px;
} */

/* .debug .toolbar {
    border: 1px red solid;
    padding: 20px;
}

.debug [class^=toolbar_] {
    border: 1px orange solid;
    padding: 20px;
}

.debug .player_icons {
    border: 1px purple solid;
    padding: 20px;
}

.debug .player_timeline {
    border: 1px brown solid;
    padding: 20px;
} */

/* .debug .card {
  border: 1px green solid;
} */
